html               { height:100%; }
body               { background-color:#ffffff; height:100%; margin:0;  }
td.person          { background-color:#e88a6a; }
td.default         { background-color:#ffffff; }
td.blue            { background-color:#c9e5e3; }
td.dna             { background-color:#aedecf; }
td.formbg          { background-color:#EDEDED; }

td.diseaseGene1    { background-color:#EFAC95; }
td.diseaseGene2    { background-color:#FFC4AF; }
td.diseaseGene3    { background-color:#FFE7DF; }
td.diseaseGene4    { background-color:#83AABF; }
td.diseaseGene5    { background-color:#B5D0DF; }
td.diseaseGene6    { background-color:#EFF9FF; }
td.diseaseGene7    { background-color:#A2BF83; }
td.diseaseGene8    { background-color:#CBDFB5; }
td.diseaseGene9    { background-color:#F7FFEF; }
td.diseaseGene10   { background-color:#BEBF77; }
td.diseaseGene11   { background-color:#DEDFA7; }
td.diseaseGene12   { background-color:#FFFFDF; }
td.diseaseGene13   { background-color:#FFB93F; }
td.grey            { background-color:#EDEDED; }
th.grey            { background-color:#EDEDED; }

td.warning         { background-color:#e5cab5; }
td.green           { background-color:#aedecf; }
.nowrap            { white-space:nowrap}
.textred           { color:red }
td.width230        { min-width:250px}
td.coverage        { padding:0;border:0; }

tr.odd             { background-color:#EDECEB; }
tr.even            { background-color:#ffffff; }

.button100         { width:12em; }

input.readonly     { background-color:#CCCCCC; }
table              { border-color:#CCCCCC;border-style:solid;border-width:0px 1px 1px 0px;}
table.outer        { border-color:#ffffff;border-style:solid;border-width:0px 0px 0px 0px;}
td                 { border-color:#CCCCCC;border-style:solid;border-width:1px 0px 0px 1px;}
td.outer           { border-color:#ffffff;border-style:solid;border-width:0px 0px 0px 0px;}
td.n               { border-color:#ffffff;border-style:solid;border-width:0px 0px 0px 0px;}
th                 { border-color:#CCCCCC;border-style:solid;border-width:1px 0px 0px 1px;}
td.header          { min-width:65px }
*.big              { font-size: 18px; font-family: Arial, Verdana, Helvetica, sans-serif;}
*                  { font-size: 12px; font-family: Arial, Verdana,  Helvetica, sans-serif;}
a                  { text-decoration:none;color:#2e6385;}
a:hover            { text-decoration:underline;}
a.menu             { display:block;width:100%;height:100%;font-size:12px;color:#ffffff; font-family:Sans-Serif,Arial,Helvetica,Verdana;text-decoration:none;}   
a.menu:hover       { text-decoration:none;color:#99a4b5;}
a.menuactive       { display:block;width:100%;height:100%;font-size:12px;color:#99a4b5; font-family:Sans-Serif,Arial,Helvetica,Verdana;text-decoration:none;}   
*.header           { border-color:#ffffff;border-style:solid;border-width:0px 0px 0px 0px;font-size:12px;background-color:#53739c; color:white;font-family:Sans-Serif,Arial,Helvetica,Verdana;text-decoration:none;}   
td.header          { border-color:#ffffff;border-style:solid;border-width:0px 2px 0px 0px;}
.help_table        { border-width:0px 0px 0px 0px;border-spacing:0px}
.help_table td     { border-color:#ffffff;border-width:0px 0px 1px 0px;padding:5px;background-color:#EDEDED;}
.help_table th     { border-color:#ffffff;border-width:0px 0px 1px 0px;padding:5px;background-color:#EDEDED;}
.vep_table         { border-width:0px 0px 0px 0px;border-spacing:0px}
.vep_table td      { border-color:#ffffff;border-width:0px 0px 1px 1px;padding:5px;background-color:#EDEDED;text-align:center;}
.vep_table th      { border-color:#ffffff;border-width:0px 0px 1px 1px;padding:5px;background-color:#EDEDED;text-align:center;}
.vep_table2        { border-width:0px 0px 0px 0px;border-spacing:0px}
.vep_table2 td     { border-color:#ffffff;border-width:0px 0px 1px 1px;padding:5px;text-align:center;}
.vep_table2 th     { border-color:#ffffff;border-width:0px 0px 1px 1px;padding:5px;text-align:center;}


table.dataTable tr.odd               { background-color: #f9f9f1; }
table.dataTable tr.even              { background-color: #ffffff; }
table.dataTable tr.odd  td.sorting_1 { background-color: #efefef; }
table.dataTable tr.even td.sorting_1 { background-color: #f9f9f5; }
table.dataTable th                   { background-color: #efefef; }

// for dataTable container
.width650           { width:650px }
.width1000          { width:1000px }
.width1500          { width:1500px }
.width1750          { width:1750px }
.width2000          { width:2000px }


.box2 {
    height: 12px;
    overflow: auto;
    padding: 5px;
}
#wrapper {
	min-height:100%;
	position:relative;  
}
#content {
	padding-bottom:5rem;   /* Height of the footer element */
	margin:0px;
}
#footer { 
	width:100%;
	border-top:1px solid #DEDCDB;
	background-color:#EDEDED;
	height:5rem;
	position:absolute;
	bottom:0;
	left:0; 
}
.footertext  { position:relative; left:240px; }

div.dataTables_length {
  margin-right: 5em;
}

// dropdown menu with icon
.dropbtn {
  width:14pt;
  height:14pt;
  align:right;
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown {
  position: relative;
  display:flex;
  align-items:center;
  justify-content:right;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:14pt;
  right:-160px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/* Sidebarnavigation https://www.w3schools.com/howto/howto_js_off-canvas.asp  */


 /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 220px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #425265; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.1s; /* 0.5 second transition effect to slide in the sidenav */
  max-height: calc(100% - 50px);
  overflow-y: scroll;
}

/* The navigation menu links */
.sidenav a {
  padding: 2px 2px 2px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.1s;
}
.subnav {
  padding: 6px 2px 2px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 220px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 10px;}
} 

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
